<div class="container">
    <audio #audioPlayer src="audios/music.mp3" loop autoplay></audio>
    <div class="menu">
        <h1>Gênio das Cores</h1>
        <div class="options">
            <ul class="opts">
                <li (click)="clickOption()" (click)="startGame()"><span>Jogar</span></li>
                <li (click)="clickOption()" (click)="openConfig()"><span>Opções</span></li>
                @if(configsOpen){
                <ul class="configs">
                    <li>
                        <span>Som/Música:</span>
                        <div class="customCheckBoxHolder" (click)="clickOption()">
                            <input class="customCheckBoxInput" id="cCB1" type="checkbox" [checked]="isAudioPlaying" (change)="toggleAudio($event, audioPlayer)" />
                            <label class="customCheckBoxWrapper" for="cCB1">
                            <div class="customCheckBox">
                            <div class="inner">Ativar</div>
                            </div>
                            </label>
                        </div>
                    </li>
                </ul>
                }
                <li (click)="clickOption()" (click)="openCredits()"><span>Créditos</span></li>
            </ul>
        </div>
    </div>
    <div class="gif">
        <video src="imgs/genio-gif.mp4" autoplay loop></video>
    </div>
</div>

<app-creditos 
[isOpen]="creditosIsOpen"
(fecharCreditos)="onFecharCreditos()">
</app-creditos>