@if(isOpen) {
    <div class="container">
        <h1>Créditos</h1>
        <p>Este trabalho foi desenvolvido para a disciplina de Linguagens Formais e Autômatos na UDF, com o objetivo de aplicar conceitos relacionais de autômatos em um contexto prático. O projeto resultou no jogo "<span>Memory Game</span>", que explora mecânicas baseadas em memorização e sequenciação de padrões, integrando aspectos computacionais para modelar e analisar a dinâmica do jogo. O repositório do projeto pode ser acessado no GitHub: <a href="https://github.com/fsantosandrade/memory-game" target="_blank">https://github.com/fsantosandrade/memory-game</a></p>
        <ul class="integrantes">
            <li>Felipe Santos</li>
            <li>Addan Reis</li>
            <li>Vinicius de Almeida</li>
            <li>Ícaro Fernandes</li>
            <li>Carlos Eduardo</li>
        </ul>
        <span class="close" (click)="close()">Fechar</span>
    </div>
}