@if(isOpen) {
    <div class="container">
        <h1>Créditos</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, sunt sapiente magni exercitationem dolores maiores dicta amet consequatur, dolore eum alias, adipisci in non distinctio numquam. Quibusdam adipisci voluptatem suscipit.</p>
        <ul class="integrantes">
            <li>Felipe Santos</li>
            <li>Addan Reis</li>
            <li>Vinicius de Almeida</li>
            <li>Ícaro</li>
            <li>Carlos</li>
        </ul>
        <span class="close" (click)="close()">Fechar</span>
    </div>
}