<div class="container">
    @if(!musicIsActive){
        <audio src="audios/music.mp3" autoplay loop></audio>
    }
    <h1 class="title">Gênio das Cores</h1>
    <div class="game">
        <img src="imgs/genio-vazio.png" class="genio" alt="genio das cores">
        <img #orangeBtn src="imgs/button-orange.png" (click)="clickColor('orange')" class="button orange" [class.inativo]="isShowingSequence" alt="orange">
        <img #blueBtn src="imgs/button-blue.png" (click)="clickColor('blue')" class="button blue" [class.inativo]="isShowingSequence" alt="blue">
        <img #greenBtn src="imgs/button-green.png" (click)="clickColor('green')" class="button green" [class.inativo]="isShowingSequence" alt="green">
        <img #redBtn src="imgs/button-red.png" (click)="clickColor('red')" class="button red" [class.inativo]="isShowingSequence" alt="red">
        <img #yellowBtn src="imgs/button-yellow.png" (click)="clickColor('yellow')" class="button yellow" [class.inativo]="isShowingSequence" alt="yellow">
    </div>
    <div class="lifes">
        <div #life1 class="heart" style="width:50px"></div>
        <div #life2 class="heart" style="width:50px"></div>
        <div #life3 class="heart" style="width:50px"></div>
    </div>
    <h2>{{ infoButton }}</h2>
    <h3 (click)="startGame()" class="start">{{ textButton }}</h3>
</div>  