h1, h2, h3 {
    text-shadow: 
        2px 2px 0px white, 
        -2px -2px 0px white, 
        2px -2px 0px white, 
        -2px 2px 0px white;
}

.inativo {
    pointer-events: none;
}

.container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    font-family: PixelFont;
    background: #000000;
    --gap: 5em;
    --line: 1px;
    --color: rgba(255, 255, 255, 0.2);

    background-image: linear-gradient(
      -90deg,
      transparent calc(var(--gap) - var(--line)),
      var(--color) calc(var(--gap) - var(--line) + 1px),
      var(--color) var(--gap)
    ),
    linear-gradient(
      0deg,
      transparent calc(var(--gap) - var(--line)),
      var(--color) calc(var(--gap) - var(--line) + 1px),
      var(--color) var(--gap)
    );
    background-size: var(--gap) var(--gap);

    & h1 {
        font-size: 4rem;
        margin-bottom: 20px;
    }

    & h2 {
        margin-bottom: 20px;
        font-size: 1.8rem;
    }

    & .game {
        position: relative;
        width: 550px;
        height: 550px;
        margin-bottom: 20px;
        
        & .genio {
            width: 100%;
            height: auto;
            border-radius: 100px;
        }

        & .button {
            position: absolute;
            width: 250px;
            cursor: pointer;
        }

        & .red {
            bottom: 92.3px;
            left: 150px;
        }

        & .red:active, .red.active {
            filter: brightness(1.5) drop-shadow(0 0 10px rgb(255, 30, 0));
        }

        & .blue {
            bottom: 119px;
            right: 75px;
            width: 135px;
        }

        & .blue:active, .blue.active {
            filter: brightness(1.5) drop-shadow(0 0 10px rgb(0, 183, 255));
        }

        & .green {
            top: 65px;
            left: 90px;
            width: 185px;
        }

        & .green:active, .green.active {
            filter: brightness(1.5) drop-shadow(0 0 10px rgb(0, 255, 106));
        }

        & .yellow {
            top: 72px;
            right: 90px;
            width: 182px;
        }

        & .yellow:active, .yellow.active {
            filter: brightness(1.5) drop-shadow(0 0 10px rgb(207, 211, 1));
        }

        & .orange {
            bottom: 115px;
            left: 77px;
            width: 135px;
        }

        & .orange:active, .orange.active {
            filter: brightness(1.5) drop-shadow(0 0 10px rgb(255, 174, 0));
        }
    }

    & .lifes {
        display: flex;
        gap: 15px;
        margin-bottom: 15px;

        & .heart {
            display: inline-block;
            width: 200px;
            aspect-ratio: 1;
            border-image: radial-gradient(red 69%, #0000 70%) 84.5%/50%;
            clip-path: polygon(-41% 0, 50% 91%, 141% 0);
        }
        
         & .heart.lost {
            border-image: radial-gradient(rgba(128, 128, 128, 0.747) 69%, #0000 70%) 84.5%/50%;
        }
    }

    & .start {
        cursor: pointer;
        font-size: 2.5rem;
    }
}